#btn2 {
  position: absolute;
  top: 4%;
  right: 2%;
  height: 4vh;
  width: 5vw;
  outline: none;
  border: none;
  background: #413e3e;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.3rem;
}
