#btn2 {
  position: absolute;
  top: 4%;
  right: 2%;
  height: clamp(38px, 4vh, 38px);
  width: clamp(57px, 3vw, 57px);
  outline: none;
  border: none;
  background: #413e3e;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}
#btn2:hover {
  background-color: #bbb;
  color: #000;
}
