#footer {
  width: clamp(300px, 100%, 1917px);
  height: clamp(117.09px, 18.4vh, 169.09px);
}
#Container-footer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Name {
  position: relative;
  width: clamp(600px, 68vw, 1305px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28282b;
}
#Name-box {
  width: clamp(154px, 20vw, 386px);
  height: clamp(92px, 14vh, 128px);
  border-right: 2px solid #6b7280;
}
#Name-box ul {
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
}
#Name-box ul li {
  list-style: none;
}
.s1 {
  line-height: clamp(20px, 25px, 44px);
  font-size: 2.3rem;
}
.s2 {
  line-height: clamp(20px, 45px, 63px);
  font-size: 3.3rem;
}
#Para-box {
  width: clamp(300px, 44vw, 844px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Para {
  width: clamp(300px, 42vw, 830px);
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(40, 40, 43);
  padding: 12px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Info {
  position: relative;
  width: clamp(384px, 20vw, 384px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Info-box {
  position: relative;
  width: clamp(126px, 14vw, 268px);
  height: clamp(88px, 13vh, 119px);
  display: flex;
  justify-content: end;
}
#Info ul {
  padding: 0;
  margin: 0;
}
#Info ul li {
  list-style: none;
  text-align: right;
}
.F1 {
  font-size: 1.2rem;
  color: #bbb;
}
.F2 {
  font-size: 1.4rem;
}
#btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  color: rgb(187, 187, 187);
  font-weight: bolder;
  padding: 5px 5px;
  width: clamp(114px, 12vw, 230px);
  background: rgb(0, 0, 0);
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
#btn:hover {
  background-color: #bbb;
  color: #000;
}
