body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--Headline) !important;
  font-weight: bold;
}
#SEC-1 {
  width: clamp(300px, 100%, 1917px);
  height: clamp(345px, 81.6vh, 749.89px);
}
nav {
  position: relative;
  width: clamp(300px, 97vw, 1862px);
  height: clamp(35px, 10vh, 91px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.box {
  position: relative;
  margin: 10px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
#InputBar {
  width: 23vw;
  padding: 8px;
  height: 2vh;
  border-radius: 11px;
  outline: none;
  border: 2px solid silver;
}
#Logo-Container {
  width: clamp(277px, 13vw, 277px);
  display: flex;
  justify-content: start !important;
  align-items: center;
  padding: 14px;
}
#InputBar-Container {
  width: clamp(300px, 25vw, 480px);
}
#Options-Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(364px, 19vw, 364px);
}
#Options-Container a {
  color: #28282b;
  text-decoration: none;
}
