html {
  font-size: 50% !important;
}
#Content-Container {
  overflow-x: scroll !important;
}
#Headline-Name {
  margin: 0 !important;
}
#Text-Container {
  width: clamp(531px, 79.7vw, 531px) !important;
}
#Info-Para {
  font-size: 13px !important;
  width: clamp(330.67px, 32.9vw, 643.67px) !important;
  height: clamp(115px, 26vh, 115px) !important;
  padding: 5px 6px !important;
  height: clamp(112px, 24vh, 112px) !important;
  margin-left: 0px !important;
}
#Poster {
  position: absolute !important;
  top: 0px !important;
  left: 4px !important;
  height: 177px !important;
  width: 126px !important;
  z-index: 999999 !important;
}
main {
  position: relative !important;
  height: inherit !important;
}
.s2 {
  font-size: 2.4rem !important;
  line-height: 9px !important;
}
#Para {
  font-size: 1.3rem !important;
}
