html {
  font-size: 50%;
  overflow-y: hidden;
}

#InputBar-Container {
  width: clamp(285px, 319vw, 300px);
}
#Info-box {
  margin-right: 8px;
}
#Logo-Container {
  width: clamp(60px, 19vw, 72px);
  padding: 4px;
  font-size: 1.6rem;
  margin-right: 0px;
}
.s2 {
  font-size: 2.3rem;
  line-height: 11px;
}
#SEC-1 {
  height: clamp(543px, 81.6vh, 749.89px);
  margin-bottom: 10px;
}
#Options-Container {
  display: none;
}
#SEC-2 {
  height: clamp(582px, 69vh, 582px);
}
#ContainerS2 {
  height: clamp(582px, 69vh, 582px);
}
#InputBar {
  width: clamp(237px, 63vw, 265px);
  height: 1vh;
  font-size: 11px;
}
#Container-footer {
  overflow-x: scroll;
}
#Content-Container {
  flex-direction: column;
  height: 53vh;
  justify-content: start;
  align-items: center;
  /* background: rebeccapurple; */
}
#Poster-Container {
  position: relative;
  width: clamp(278px, 14.5vw, 278px);
  height: 25vh;
}
#Poster {
  position: absolute;
  width: clamp(190px, 12vw, 230px);
  height: clamp(228px, 33vh, 303px);
  top: -82px;
  left: 41px;
}
#btn2 {
  width: 37px;
  height: 26px;
}
#Text-Container {
  height: 24vh;
  width: 93vw;
  text-align: center;
}
#Info-Para {
  width: clamp(308.67px, 32.9vw, 643.67px);
  font-size: 10px;
  padding: 0px;
  margin: auto;
}

#Headline-Name {
  font-size: 1.9rem;
  margin: auto;
  border-bottom: 1px solid #bbb;
}
.I1 {
  font-size: 2rem;
  padding: 1px 7px;
  margin: 3px 0px;
  display: inline-block;
}
#Video-Container {
  display: none;
}
#Headline-Name::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  bottom: 0;
}
