html {
  font-size: 78%;
}
.s2 {
  font-size: 2.6rem;
  line-height: 28px;
}
#Poster-Container {
  width: clamp(247px, 14.5vw, 278px);
}
#Info-Para {
  font-size: 15px;
  height: 14vh;
  margin: 0;
  padding: 2px 6px;
}
.Video-ContainerIN {
  margin-top: 3rem;
}
#Poster {
  height: clamp(259px, 33vh, 303px);
}
main {
  height: 101vh;
}
#SEC-2 {
  overflow: hidden;
}
